@inherits LayoutComponentBase

<div class="page">
    <div class="">
        <NavMenu />
    </div>

    <main>
       <link href="~/css/style.css" rel="stylesheet" />

        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>
